<p>Select place type to display places</p>
<mat-form-field class="place-type-chips">
  <mat-chip-list #chipList
                 aria-label="Place type selection" >
    <mat-chip
      *ngFor="let place of selectedPlaces$ | async"
      [selectable]="true"
      [removable]="isChipRemovable"
      (removed)="removeChip(place)">
      {{place}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Add place type..."
      #placeInput
      [formControl]="placesCtrl"
      [matAutocomplete]="autocomplete"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
  </mat-chip-list>
  <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let place of filteredPlaces$ | async" [value]="place">
      {{place}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
