<mat-toolbar>
  <button mat-icon-button
          color="primary"
          aria-label="Open left side control panel"
          (click)="controlPanelSide.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Map</span>
</mat-toolbar>

<mat-drawer-container class="main-content">
  <mat-drawer #controlPanelSide
              mode="side"
              opened>
    <rs21-control-panel [placeTypes]="placeTypesData"
                        (fbLayerDisableChange)="onFbLayerDisableChange($event)"
                        (fbFilterChange)="onFbFilterChange($event)"
                        (twitterLayerDisableChange)="onTwitterLayerDisableChange($event)"
    ></rs21-control-panel>
  </mat-drawer>

  <mat-drawer-content>
    <rs21-map [fbData]="fbData"
              [twitterData]="twitterData"
    ></rs21-map>
    <button class="toggle-charts"
            mat-raised-button
            aria-label="Show/hide right side chart panel"
            (click)="dashboardSide.toggle()" >
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </mat-drawer-content>

  <mat-drawer #dashboardSide
              class="dashboard"
              mode="side"
              position="end"
              opened>
    <rs21-dashboard></rs21-dashboard>
  </mat-drawer>
</mat-drawer-container>
