<mat-toolbar>
  <button mat-icon-button
          color="primary"
          aria-label="Open left side control panel"
          (click)="controlPanelSide.toggle()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Map</span>
</mat-toolbar>

<mat-drawer-container class="main-content">
  <mat-drawer #controlPanelSide
              mode="side"
              [opened]="isControlPanelOpen"
              (openedStart)="onControlPanelOpenedStart()">
    <rs21-control-panel [placeTypes]="placeTypesData"
                        (fbLayerDisableChange)="onFbLayerDisableChange($event)"
                        (fbFilterChange)="onFbFilterChange($event)"
                        (twitterLayerDisableChange)="onTwitterLayerDisableChange($event)"
                        (censusLayerDisableChange)="onCensusLayerDisableChange($event)"
                        (censusFilterChange)="onCensusFilterChange($event)"
    ></rs21-control-panel>
  </mat-drawer>

  <mat-drawer-content>
    <rs21-map [fbData]="fbData"
              [fbLayerVisibility]="fbLayerVisibility"
              [twitterData]="twitterData"
              [twitterLayerVisibility]="twitterLayerVisibility"
              [censusData]="censusData"
              [censusLayerVisibility]="censusLayerVisibility"
    ></rs21-map>
    <button class="toggle-charts"
            mat-raised-button
            aria-label="Show/hide right side chart panel"
            (click)="dashboardSide.toggle()" >
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </mat-drawer-content>

  <mat-drawer #dashboardSide
              class="dashboard"
              mode="side"
              position="end"
              (openedStart)="onDashBoardOpenedStart()">
    <rs21-dashboard [fbData]="fbMetaData"
                    [twitterData]="twitterMetaData"
                    [censusData]="censusMetaData">
    </rs21-dashboard>
  </mat-drawer>
</mat-drawer-container>
