<mat-form-field appearance="fill" class="gender-select">
  <mat-label>Gender</mat-label>
  <mat-select [(ngModel)]="selectedGender" (selectionChange)="onFilterChange()">
    <mat-option *ngFor="let gender of genderList" [value]="gender">
      {{gender}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="min-age">
  <label for="minAge">Min age</label>
  <div class="slider-holder">
    <mat-slider id="minAge"
                [min]="sliderConfig.minAge"
                [max]="ageMax"
                [step]="sliderConfig.step"
                [(ngModel)]="ageMin"
                (change)="onFilterChange()"></mat-slider>
    <output>{{ageMin}}</output>
  </div>
</div>
<div class="max-age">
  <label for="maxAge">Max age</label>
  <div class="slider-holder">
    <mat-slider id="maxAge"
                [min]="ageMin"
                [max]="sliderConfig.maxAge"
                [step]="sliderConfig.step"
                [(ngModel)]="ageMax"
                (change)="onFilterChange()"></mat-slider>
    <output>{{ageMax}}</output>
  </div>
</div>

