<mat-form-field appearance="fill" class="gender-select">
  <mat-label>Gender</mat-label>
  <mat-select [(ngModel)]="selectedGender" (selectionChange)="onFilterChange()">
    <mat-option *ngFor="let gender of genderList" [value]="gender">
      {{gender}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div class="age-control">
  <label for="ageControl">Select age</label>
  <div class="slider-holder">
    <ng5-slider id="ageControl"
                [(value)]="sliderConfig.minAge"
                [(highValue)]="sliderConfig.maxAge"
                [options]="sliderConfig.options"
                (userChangeEnd)="onAgeFilterChange($event)"></ng5-slider>
  </div>
</div>
