<mat-accordion class="control-panel" multi>
  <mat-expansion-panel class="facebook-controls">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Facebook data
      </mat-panel-title>
      <mat-panel-description>
        <div class="spacer"></div>
        <mat-slide-toggle (click)="$event.stopPropagation()" color="primary">
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <rs21-facebook-filters></rs21-facebook-filters>
  </mat-expansion-panel>

  <mat-expansion-panel class="twitter-controls">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Twitter data
      </mat-panel-title>
      <mat-panel-description>
        <div class="spacer"></div>
        <mat-slide-toggle (click)="$event.stopPropagation()" color="primary">
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <rs21-twitter-filters></rs21-twitter-filters>
  </mat-expansion-panel>

  <mat-expansion-panel class="census-controls">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Census data
      </mat-panel-title>
      <mat-panel-description>
        <div class="spacer"></div>
        <mat-slide-toggle (click)="$event.stopPropagation()" color="primary">
        </mat-slide-toggle>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <rs21-census-filters></rs21-census-filters>
  </mat-expansion-panel>
</mat-accordion>
