<mgl-map class="map"
         [style]="defaultConfig.style"
         [zoom]="defaultConfig.zoom"
         [center]="[defaultConfig.lng, defaultConfig.lat]"
         [cursorStyle]="cursorStyle"
         [trackResize]="defaultConfig.trackResize">
  <div class="facebook-layer">
    <mgl-image
      id="fbPoint"
      url="https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png"
      (loaded)="onFbPlaceImageLoad()"
    >
    </mgl-image>
    <mgl-geojson-source
      id="facebookDataSet"
      [data]="fbData"
    ></mgl-geojson-source>
    <mgl-layer
      id="fbPlaces"
      *ngIf="isFbPlacesImageLoaded"
      type="symbol"
      source="facebookDataSet"
      [layout]="{ 'icon-image': 'fbPoint', visibility: fbLayerVisibility}"
      (click)="onLayerClick($event)"
      (mouseEnter)="onPointEnter()"
      (mouseLeave)="onPointLeave()"
    >
    </mgl-layer>
    <mgl-popup *ngIf="isPopupOpen('fbPlaces')" [feature]="selectedPoint">
      <p><strong>{{selectedPoint.properties?.name}}</strong></p>
      <p><b>Type: </b>{{selectedPoint.properties?.type}}</p>
      <p><b>Chekins: </b>{{selectedPoint.properties?.checkins}}</p>
    </mgl-popup>
  </div>

  <div class="twitter-layer">
    <mgl-geojson-source
      id="twitterDataSet"
      [data]="twitterData"
    ></mgl-geojson-source>

    <mgl-layer
      id="twitter"
      type="circle"
      source="twitterDataSet"
      [layout]="{visibility: twitterLayerVisibility}"
      [paint]="{
          'circle-radius': 8,
          'circle-color': ['case',
            ['==', ['get', 'sentiment'], tweetSentiment.Negative], tweetColorMap[tweetSentiment.Negative],
            ['==', ['get', 'sentiment'], tweetSentiment.Positive], tweetColorMap[tweetSentiment.Positive],
            tweetColorMap[tweetSentiment.Neutral]
          ]
        }"
      (click)="onLayerClick($event)"
      (mouseEnter)="onPointEnter()"
      (mouseLeave)="onPointLeave()"
    >
    </mgl-layer>

    <mgl-popup *ngIf="isPopupOpen('twitter')" [feature]="selectedPoint">
      <p>@<strong>{{selectedPoint.properties?.username}}</strong> - {{selectedPoint.properties?.datetime | date:'medium'}}</p>
      <p>{{selectedPoint.properties?.message}}</p>
    </mgl-popup>
  </div>

  <div class="census-layer">
    <mgl-geojson-source
      id="censusDataSet"
      [data]="censusData"
    ></mgl-geojson-source>
    <mgl-layer
      id="census"
      type="fill"
      source="censusDataSet"
      [layout]="{ visibility: censusLayerVisibility }"
      [paint]="{'fill-color': [
                  'interpolate',
                  ['linear'],
                  ['get', 'citizens'],
                  0,
                  '#dbb2ff',
                  50,
                  '#bb86fc',
                  100,
                  '#985eff',
                  200,
                  '#7f39fb',
                  400,
                  '#6200ee',
                  800,
                  '#5600e8',
                  1600,
                  '#3700b3',
                  3200,
                  '#30009c',
                  6400,
                  '#23036a'
                  ],
                  'fill-opacity': 0.75}"
      (click)="onLayerClick($event)"
      (mouseEnter)="onPointEnter()"
      (mouseLeave)="onPointLeave()">
    </mgl-layer>
    <mgl-popup *ngIf="isPopupOpen('census')" [lngLat]="currentPopupLngLat" >
      <p><strong>Region ID: </strong>{{selectedPoint.properties?.geoid}}</p>
      <p><b>Citizens per region: </b>{{selectedPoint.properties?.citizens}}</p>
    </mgl-popup>
  </div>
</mgl-map>
<mat-card class="census-legend"
          *ngIf="censusLayerVisibility === 'visible'"
          [class.hidden]="isLegendHidden" >
  <mat-card-title>Population</mat-card-title>
  <mat-card-content>
    <p class="legend-line"><span style="background-color: #23036a"></span>6,400</p>
    <p class="legend-line"><span style="background-color: #30009c"></span>3,200</p>
    <p class="legend-line"><span style="background-color: #3700b3"></span>1,600</p>
    <p class="legend-line"><span style="background-color: #5600e8"></span>800</p>
    <p class="legend-line"><span style="background-color: #6200ee"></span>400</p>
    <p class="legend-line"><span style="background-color: #7f39fb"></span>200</p>
    <p class="legend-line"><span style="background-color: #985eff"></span>100</p>
    <p class="legend-line"><span style="background-color: #bb86fc"></span>50</p>
    <p class="legend-line"><span style="background-color: #dbb2ff"></span>0</p>
  </mat-card-content>
  <button class="toggle-charts"
          mat-raised-button
          aria-label="Show/hide legend"
          (click)="toggleLegend()" >
    <mat-icon>swap_horiz</mat-icon>
  </button>
</mat-card>








