<mgl-map class="map"
         [style]="defaultConfig.style"
         [zoom]="defaultConfig.zoom"
         [center]="[defaultConfig.lng, defaultConfig.lat]"
         [cursorStyle]="cursorStyle">
  <div class="facebook-layer">
    <mgl-image
      id="fbPoint"
      url="https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png"
      (loaded)="onFbPlaceImageLoad()"
    >
    </mgl-image>
    <mgl-geojson-source
      id="facebookDataSet"
      [data]="fbData"
    ></mgl-geojson-source>
    <mgl-layer
      id="fbPlaces"
      *ngIf="isFbPlacesImageLoaded"
      type="symbol"
      source="facebookDataSet"
      [layout]="{ 'icon-image': 'fbPoint', visibility: isFbLayerVisible}"
      (click)="onLayerClick($event)"
      (mouseEnter)="onPointEnter()"
      (mouseLeave)="onPointLeave()"
    >
    </mgl-layer>
    <mgl-popup *ngIf="isPopupOpen('fbPlaces')" [feature]="selectedPoint">
      <p><strong>{{selectedPoint.properties?.name}}</strong></p>
      <p><b>Type: </b>{{selectedPoint.properties?.type}}</p>
      <p><b>Chekins: </b>{{selectedPoint.properties?.checkins}}</p>
    </mgl-popup>
  </div>


  <div class="twitter-layer">
    <mgl-image
      id="twittPoint"
      url="https://img.icons8.com/fluent/96/twitter.png"
      (loaded)="onTwitterImageLoad()"
    >
    </mgl-image>
    <mgl-geojson-source
      id="twitterDataSet"
      [data]="twitterData"
    ></mgl-geojson-source>

    <mgl-layer
      id="twitter"
      *ngIf="isTwitterImageLoaded"
      type="symbol"
      source="twitterDataSet"
      [layout]="{ 'icon-image': 'twittPoint', visibility: isTwitterLayerVisible, 'icon-size': 0.5}"
      (click)="onLayerClick($event)"
      (mouseEnter)="onPointEnter()"
      (mouseLeave)="onPointLeave()"
    >
    </mgl-layer>

    <mgl-popup *ngIf="isPopupOpen('twitter')" [feature]="selectedPoint">
      <p>@<strong>{{selectedPoint.properties?.username}}</strong> - {{selectedPoint.properties?.datetime | date:'medium'}}</p>
      <p>{{selectedPoint.properties?.message}}</p>
    </mgl-popup>
  </div>

  <div class="census-layer">
    <mgl-geojson-source
      id="censusDataSet"
      [data]="censusData"
    ></mgl-geojson-source>
    <mgl-layer *ngIf="!!censusData"
      id="censusGeometry"
      type="fill"
      source="censusDataSet"
      [paint]="{'fill-opacity': 0.5, 'fill-color': '#fc0349'}"
      (click)="onLayerClick($event)"
      (mouseEnter)="onPointEnter()"
      (mouseLeave)="onPointLeave()">
    </mgl-layer>
  </div>
</mgl-map>
