<rs21-facebook-chart *ngIf="fbData.length"
                     [nums]="fbChartData.nums"
                     [places]="fbChartData.types">
</rs21-facebook-chart>
<rs21-twitter-chart *ngIf="twitterData.length"
                    [labels]="twitterChartData.labels"
                    [nums]="twitterChartData.nums">
</rs21-twitter-chart>
<rs21-census-chart *ngIf="censusData.length"
                   [male]="censusChartData.male"
                   [female]="censusChartData.female">
</rs21-census-chart>
